.container {
    display: flex;
    height: 100vh;
  }

  .left-box {
    width: 30%;
    background-color: #e3e3e3;
    padding: 20px;
  }

  .right-box {
    width: 70%;
    background-color: #cce5ff;
    padding: 20px;
  }
