<app-header-admin></app-header-admin>
<div *ngIf="!loading && isAdmin; else noAccess">


<div class="management-container">
  <div class="card">
    <h2>Account Management</h2>
    <p>Manage your user accounts.</p>
    <hr>

    <section>
      <h3>Create / Edit account</h3>
      <input type="text" placeholder="Name" [(ngModel)]="nombre">
      <input type="text" placeholder="Username" [(ngModel)]="username">
      <input type="password" placeholder="Password" [(ngModel)]="password">
      <button class="btn-primary" (click)="saveUser()" style="background-color: #7A1CFF; border-color: #7A1CFF;">
        Save
      </button>
    </section>

    <hr>

    <section>
      <h3>Modify account</h3>
      <select [(ngModel)]="selectedUserId">
        <option [ngValue]="null">Select user</option>
        <option *ngFor="let u of users" [ngValue]="u.id">{{ u.username }}</option>
      </select>
      <div class="btn-group">
        <button class="btn-primary" (click)="editUser()" style="background-color: #7A1CFF; border-color: #7A1CFF;">
          Edit
        </button>
        <button class="btn-primary" (click)="deleteUser()" style="background-color: #7A1CFF; border-color: #7A1CFF;">
          Delete
        </button>
      </div>
    </section>
  </div>

  <div class="card">
    <h2>Model Configuration</h2>
    <p>Adjust the classification model.</p>
    <hr>

    <section>
      <!-- Lista desplegable con los modelos cargados desde el backend -->
      <select [(ngModel)]="selectedModel" class="border rounded px-2 py-1 w-2/3">
        <option [ngValue]="null">Select model</option>
        <option *ngFor="let m of models" [value]="m">{{ m }}</option>
      </select>

      <button
        class="btn-primary ml-2"
        style="background-color: #7A1CFF; border-color: #7A1CFF;"
        (click)="changeModel()"
      >
        Upload
      </button>
    </section>

    <hr>

     <!-- Admin Manual -->
     <section class="mt-4 text-center">
      <h3>Administrator Manual</h3>
      <p>Learn how to use the admin tools and features.</p>

      <button
        class="btn-primary mt-1 text-center"
        style="background-color: #7A1CFF; border-color: #7A1CFF; color: white;"
        (click)="openManual()">
        Learn to use the application
      </button>
    </section>

    <section class="logout mt-6">
      <h3>Log out</h3>
      <p>Exit your account</p>
      <button
        class="btn-icon"
        (click)="logout()"
        style="background-color: #7A1CFF; border-color: #7A1CFF; color: white;"
      >
        ⎋
      </button>
    </section>
  </div>
</div>
</div>

<ng-template #noAccess>
  <div class="text-center text-red-500 font-bold">
    Access Denied
  </div>
</ng-template>
